#DATA TYPE AND STRUCTURES
  ** #theory**
1.  What are data structures, and why are they important
 - A data structure is a way of organizing, storing, and managing data so that it can be accessed and modified efficiently. It defines how data is organized in a computer’s memory and how operations (like inserting, deleting, or updating) can be performed on the data.
  - Data structures help organize and manage data efficiently, which in turn impacts the speed and effectiveness of algorithms and programs. Understanding which data structure to use for a given problem is a key skill for software development, making data structures fundamental to computer science.        

2.  Explain the difference between mutable and immutable data types with example
 - Mutable Types:
The object can be modified after creation.
Changes to the object are reflected across all references to that object.
They typically use more memory because of the ability to change.
 - Immutable Data Types:
An immutable data type is one where the content or value cannot be modified after it is created. Once you create an immutable object, its state is fixed and cannot be altered.

3.  What are the main differences between lists and tuples in Python
 - Use lists when you need a collection of data that might change (elements can be added, removed, or modified).

 - Use tuples when you need a collection of data that should remain constant, for efficiency or when you need hashable objects for use in sets or as dictionary keys.

4. Describe how dictionaries store data
 - Python dictionaries use a hash table to store data efficiently, where each key is hashed to determine its position in the internal structure. This enables fast lookups, insertions, and deletions. The dictionary’s ability to store and retrieve data quickly makes it an essential data structure in Python, widely used for tasks requiring efficient data access and modification.
5. Why might you use a set instead of a list in Python
 - In Python, both sets and lists are used to store collections of data, but they have distinct characteristics that make them suitable for different use cases. we use set instead of list because-
      - uniqueness of element
      - faster lookups
      - mathematical set operations are powerful
      - no ordering
      - memory efficiency
      - easy addition and removal of elements
      

6. What is a string in Python, and how is it different from a list
 -  string in Python is a sequence of characters enclosed in single quotes (') or double quotes ("). Strings are used to store text-based data and can include letters, numbers, punctuation, and other symbols.
 - Strings are sequences of characters and are immutable, which means once created, their contents cannot be changed.
Lists are ordered collections of elements and are mutable, meaning their contents can be modified, and they can contain various types of elements, including strings, integers, and other lists.
7. How do tuples ensure data integrity in Python
 - In Python, tuples are immutable sequences of elements, which means once a tuple is created, its contents cannot be changed. This immutability feature is what helps ensure data integrity in Python.
8.  What is a hash table, and how does it relate to dictionaries in Python
 - A hash table (also known as a hash map) is a data structure that stores data in key-value pairs. It uses a hash function to convert the key into an index in an array, which is then used to store the corresponding value. Hash tables are designed for efficient data retrieval, typically providing average time complexity of O(1) for operations like insert, delete, and search.
  - In Python, the dictionary data structure is implemented using a hash table. This means that Python dictionaries
   store their elements as key-value pairs, and the keys are hashed to determine their location in memory.

9. Can lists contain different data types in Python
 - Yes, lists in Python can contain different data types. A list is an ordered collection that can hold elements of various types, including integers, strings, floating-point numbers, other lists, dictionaries, and even objects of custom classes.
10. explain why strings are immutable in Python
 - strings are immutable because once a string is created, its content cannot be changed. This immutability is a key feature of strings in Python and has several important benefits and reasons behind its design.
11.  What advantages do dictionaries offer over lists for certain tasks
 - Dictionaries provide fast access to data using keys, allow key-value pair associations, ensure key uniqueness, and handle complex data structures efficiently. They are ideal when quick lookups, key-based organization, and data integrity are important. In contrast, lists are better suited for ordered collections and scenarios where you don’t need to associate each item with a unique identifier
12.  Describe a scenario where using a tuple would be preferable over a list
 - Immutability: Coordinates (like positions on a grid) should not change during the program’s execution. A tuple guarantees that the data remains constant.
  - Performance: Tuples are more memory-efficient than lists because they are fixed-size and immutable.
   - Semantics: A tuple communicates the idea that the data is a fixed pair of values that represent a single concept (such as a point in space).
13. how do sets handle duplicate values in Python
 - Sets automatically handle duplicates by ensuring each element is unique. If an element is added more than once, only the first occurrence will be kept, and any subsequent duplicates are ignored.
  - This makes sets an excellent choice when you need to store unique elements and do not need to worry about duplicates in your data.
14.  How does the “in” keyword work differently for lists and dictionaries
 - For lists, the in keyword checks for the presence of a value (element), and it performs a sequential search through the list.
  - For dictionaries, the in keyword checks for the presence of a key, and the lookup is generally faster because dictionaries use hash tables for efficient key-based lookups.
15.  Can you modify the elements of a tuple? Explain why or why not
 - No, you cannot modify the elements of a tuple in Python. Tuples are immutable data structures, which means that once a tuple is created, its contents cannot be changed.
16.  What is a nested dictionary, and give an example of its use case
 - A nested dictionary in Python is a dictionary that contains other dictionaries as its values. This allows you to represent hierarchical or more complex data structures in an organized way. In a nested dictionary, the values of one dictionary can themselves be dictionaries, allowing for multiple levels of key-value pairs.
17. Describe the time complexity of accessing elements in a dictionary
 - Accessing elements in a Python dictionary is typically O(1), meaning it is very fast and independent of the size of the dictionary. The worst-case time complexity is O(n), but such cases are uncommon in practice.
18.  In what situations are lists preferred over dictionaries
 - When the order of elements matters.
 - When you need to store duplicates of the same element.
 - When you need to access elements by index.
 - When the data is homogeneous (same type of data).
 - When you need to perform list-specific operations like sorting, slicing, or modifying elements.
 - When the collection size is known and fixed.
   In these cases, lists provide an efficient and simple solution. However, when key-based access or unique key-value mapping is required, dictionaries would be the better choice.
19.  Why are dictionaries considered unordered, and how does that affect data retrieval
 - Efficient Key Lookup: Dictionaries are optimized for fast key-based access and retrieval (O(1) average time complexity), regardless of the insertion order.
 - Iteration and Order: While Python 3.7+ maintains insertion order, this order is not the defining characteristic of a dictionary, and in earlier versions, the order of items was arbitrary.
  - No Implicit Sorting: If you need ordered data, you must explicitly sort the dictionary or use other data structures like OrderedDict or lists.
   - Unordered by Default: In earlier versions of Python (prior to 3.7), dictionaries were considered unordered, meaning you could not rely on the order in which items were added when iterating through the dictionary.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists are ideal when you need to access elements by index or when you want to preserve a sequence of items.
  - Dictionaries are best for situations where you need efficient key-based access to values, especially when the keys are unique identifiers (e.g., names, IDs). They provide constant-time lookups and are optimized for this purpose, while lists are better suited for sequential access and ordered collections.



#practical

1. Write a code to create a string with your name and print it

In [1]:

my_name = "tishya"

print(my_name)

tishya

2.  Write a code to find the length of the string "Hello World"

In [2]:

my_string = "Hello World"

length = len(my_string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:

my_string = "Python Programming"

sliced_string = my_string[:3]

print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [4]:
# Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the uppercase string
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple

In [5]:

my_string = "I like apple"

modified_string = my_string.replace("apple", "orange")

print(modified_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:

my_list = [1, 2, 3, 4, 5]

print(my_list)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:

my_list = [1, 2, 3, 4]

my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
# Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
# Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
# Create a tuple with the elements 10, 20, 30
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [12]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [13]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the count
print(count_of_2)

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print(index_of_cat)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [15]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
is_banana_in_tuple = 'banana' in my_tuple

# Print the result
print(is_banana_in_tuple)

True

16. . Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [17]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}

18.  Write a code to create a tuple with the elements 10, 20, 30 and print it

In [18]:
# Create a tuple with the elements 10, 20, 30
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [19]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [20]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the count
print(count_of_2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [21]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print(index_of_cat)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [22]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
is_banana_in_tuple = 'banana' in my_tuple

# Print the result
print(is_banana_in_tuple)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [23]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [24]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}